<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <util:properties id="props" location="classpath:server.properties"/>

    <bean id="userRepo" class="repo.UserRepositoryDB">
        <constructor-arg ref="props"/>
    </bean>

    <bean id="childRepo" class="repo.ChildRepositoryDB">
        <constructor-arg ref="props"/>
    </bean>

    <bean id="entryRepo" class="repo.EntryRepositoryDB">
        <constructor-arg ref="props"/>
    </bean>

    <bean id="srv" class="ServiceServer">
        <constructor-arg index="0" ref="userRepo"/>
        <constructor-arg index="1" ref="childRepo"/>
        <constructor-arg index="2" ref="entryRepo"/>
    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="Athletic"/>
        <property name="service" ref="srv"/>
        <property name="serviceInterface" value="IServiceServer"/>
        <property name="servicePort" value="1099"/>
    </bean>

</beans>